.vanui-splitter, .vanui-splitter-h {
    box-sizing:border-box;
    background:rgba(0,0,0,0);
    width:4px;
    margin:0px -2px;
    cursor:col-resize;
    z-index:80;
}
.vanui-splitter:hover, .vanui-splitter-h:hover {
    /*width:4px;*/
    /*margin:0px -1px;*/
    background:rgba(50,50,50,0.5);
}
.vanui-splitter-h {
    width:100%;
    cursor:row-resize;
    height:4px;
    margin:-2px 0px;
}
.vanui-splitter-background {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index:70;
}