/*---Table*/

table.vanui-table {
    border-spacing: 0;
    user-select: none;
    outline:none;
    font-family:ubuntu,segoe ui,helvetica;
}
table.vanui-table td, table.vanui-table th {
    border:1px solid rgba(50,50,50,0.1);
    text-align:center;
}

table.vanui-table td:hover {
    /*border:1px solid rgba(50,50,50,0.1);*/
}

/*---Headers*/
table.vanui-table th {
    top:0;
    position:sticky;
    background:rgb(220,220,220);
    background: linear-gradient(to bottom, rgb(240,240,240) 0%,rgb(230,230,230) 100%);
    font-weight:normal;
    font-size:0.9rem;
    box-sizing:border-box;
}

table.vanui-table thead th {
    padding:2px 4px;
    padding-left:8px;
}

table.vanui-table thead th:after {
    content:'\25BE'; /* down */
    float:right;
    margin-left:4px;
    opacity:0;
}

table.vanui-table thead th.sort.sort-desc:after {
    content:'\25BE'; /* down */
    opacity:0.2;
}
table.vanui-table thead th.sort.sort-asc:after {
    content:'\25B4'; /* up */
    opacity:0.2;
}

table.vanui-table .row-header-cell {
    left:0px;
    position:sticky;
    font-weight:normal;
    color:rgb(140,140,140);
    font-size:0.8rem;
}

table.vanui-table .cell-corner {
    z-index:20;
    position:sticky;
    top:0;
    left:0;
}
/*---Selection*/
table.vanui-table:focus tr.selected td,table.vanui-table:focus tr.selected th {
    border-top:1px solid rgba(50,50,50,0.3);
    border-bottom:1px solid rgba(50,50,50,0.3);
}

table.vanui-table:focus tr.selected th {
    color:rgb(0,0,0);
}

table.vanui-table:focus td.selected {
    /*border:1px solid rgb(44,156,221) !important;*/
    border:1px solid rgb(20,20,20) !important;
}

/*---Table Pages*/
.vanui-table-page-container {
    padding:4px 0px;
}
.vanui-table-i-page {
    width:50px;
    text-align:center;
    margin:2px 12px;
}
.vanui-table-i-page::-webkit-inner-spin-button, .vanui-table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.vanui-table-btn {
    background: linear-gradient(to bottom, rgb(240,240,240) 0%,rgb(230,230,230) 100%);
    padding:0.12rem 0.6rem;
    border:1px solid rgba(50,50,50,0.1);
    font-size:1.2rem;
    border-radius:4px;
    cursor:pointer;
    box-sizing:border-box;
}
.vanui-table-btn:hover {
    background: linear-gradient(to bottom, rgb(230,230,230) 0%,rgb(220,220,220) 100%);
}
.vanui-table-page-container .vanui-table-btn {
    margin:1px;
}