/*---Form Row*/
.vanui-form .form-row {
    display:flex;
    padding:0.2rem;
    align-items:flex-start;
    box-sizing:border-box;
}



.vanui-form label {
    margin-right:0.8rem;
    flex:1;
    text-align:right;
    padding: calc(0.2rem + 0.5px) 0;
    box-sizing:border-box;
}

/*.vanui-form .form-row select {*/
.vanui-form .form-field {
    box-sizing:border-box;
    padding:0.2rem 0.4rem;
    text-align:left;
}

.vanui-form .form-row:not(.wide) .form-field,
    .vanui-form .form-row:not(.wide) .form-field-container {
    flex-basis:250px;
}

/*---Wide Form*/
.form-row.wide {
    flex-direction:column;
}

.form-row.wide .form-field {
    /*flex-basis:1rem;*/
    width:100%;
}

/*---List*/
.vanui-form .form-list{
    padding:0px;
}

.vanui-form .form-list option {
    padding:0.2rem 0.4rem;
}

/*---Checkbox and ToggleSwitch*/
.vanui-form input[type="checkbox"] {
    /*margin:0;*/
    margin:0.2rem;
    height: 1.2rem;
    width: 1.2rem;
}

.form-field-container {
    /*flex-basis:250px;*/
    box-sizing:border-box;
    padding:0px;
    margin:0px;
    text-align:left;
}

/*---Toggle Switch*/
.vanui-form input.toggle-switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.4rem;
    /*max-width: 3rem;*/
    /*padding-right:calc(250px - 3rem);*/
    /*height: 1.2rem !important;*/
    /*display: inline-block;*/
    position: relative;
    overflow: hidden;
    border-radius:4px;
    /*cursor: pointer;*/
    /*background-color: rgb(116,119,128);*/
    background-color: rgb(200,200,200);
    transition: background-color ease 0.4s;
    box-sizing:border-box;
    /*border:none !important;*/
    /*margin:0px;*/
}

.vanui-form .toggle-switch:hover {
    outline:none;
}

.vanui-form .toggle-switch:before {
    content: " ";
    display: block;
    position: absolute;
    z-index: 2;
    width: calc(1.2rem - 4px);
    height: calc(1.2rem - 4px);
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius:3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition:  0.4s;
}

/*.toggle-switch:after {*/
/*    content:".";*/
/*    width:calc(250px - 3rem);*/
/*}*/

.vanui-form .toggle-switch:checked {
    background-color: rgb(47,141,217);
}

.vanui-form .toggle-switch:checked:before {
    left: calc(1.2rem + 2px);
}

/*---Button */
.vanui-form button.form-field {
    text-align:center;
}

/*---Textarea*/
textarea.form-field {
    resize: none;
    width:100%;
}

/*---Separator*/
.vanui-form .form-separator, 
.vanui-form .form-separator-line {
    display:block;
    box-sizing:content-box;
    height:1px;
    padding:0px;
    margin:0.5rem 0px;
}
.form-separator-line {
    background:rgb(200,200,200);
}